{{>partials/header}}

    <section class="user-list-area">
        <h2>Lista de Usuário</h2>
        <ul>
        {{#users}}
            <li>
                <div><strong>Nome:</strong> {{name}}</div>
                <div><strong>Idade:</strong> {{age}}</div>
                <div><strong>E-mail:</strong> {{email}}</div>
                <div class="user-option">
                    <a href="/users/user/{{id}}/edit">Editar</a>
                    <a href="/users/user/{{id}}/delete">Excluir</a>
                </div>
            </li>
        {{/users}}
        </ul>
        
        {{^users}}

            <div class="warning">Nenhum usúario encontrado, verifique e tente novamente...</div>
            
        {{/users}}

        {{#search}}
            <a href="/">Voltar para o Home</a>
        {{/search}}
    </section>


{{>partials/footer}}